<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <section class="forms">
        <div class="container-fluid">
            <header>
                <h1 class="h3 display">DAFTAR KARTU KELUARGA</h1>
            </header>
         <div class="row">
             <div class="col-lg-12"></div>
                 <div class="card">
                     <div class="card-header d-flex align-items-center">
                         <a data-target="#modal-container-TambahKK"  role="button" data-toggle="modal">
                             <i class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" title="Tambah KK">KK</i>
                         </a>
                     </div>
                     <div class="card-block">
                         <!--TableKK-->
                         <div ng-init="Init()">

                             <table class="table">
                                 <thead class="thead-default">
                                     <tr>
                                         <th>
                                             Nomor KK
                                         </th>

                                         <th>
                                             Kepala Keluarga
                                         </th>
                                         <th>
                                             RW
                                         </th>
                                         <th>
                                             RT
                                         </th>
                                         <th>
                                             Action
                                         </th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr>
                                         <td>
                                             1
                                         </td>
                                         <td>
                                             TB - Monthly  TB - Monthly TB - Monthly TB - Monthly TB - Monthly TB - Monthly TB - Monthly TB - Monthly TB - Monthly
                                         </td>
                                         <td>
                                             01/04/2012
                                         </td>
                                         <td>
                                             Default
                                         </td>
                                         <td>
                                             <div class="dropdown">
                                                 <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <i class="fa fa-cog"></i>
                                                 </a>
                                                 <ul class="dropdown-menu">
                                                     <li>
                                                         <a class="btn btn-default" data-target="#modal-container-UbahKK" role="button" data-toggle="modal">
                                                             <i class="fa fa-pencil fa-fw" aria-hidden="true"> Ubah</i>
                                                         </a>
                                                     </li>
                                                     <li>
                                                         <a class="btn btn-default" href="#modal-container-DetailKK" role="button" data-toggle="modal">
                                                             <i class="fa fa-book fa-fw" aria-hidden="true"> Detail</i>
                                                         </a>
                                                     </li>
                                                     <li>
                                                         <a class="btn" href="#!kkanggota">
                                                             <i class="fa fa-book fa-users" aria-hidden="true"> Anggota</i>
                                                         </a>
                                                     </li>
                                                 </ul>
                                             </div>
                                         </td>
                                     </tr>
                                     <tr class="active">
                                         <td>
                                             2
                                         </td>
                                         <td>
                                             TB - Monthly
                                         </td>
                                         <td>
                                             01/04/2012
                                         </td>
                                         <td>
                                             Default
                                         </td>
                                         <td>
                                             <div class="dropdown">
                                                 <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <i class="fa fa-cog"></i>
                                                 </a>
                                                 <ul class="dropdown-menu" style="border:0px">
                                                     <li><a class="btn" href="#">HTML</a></li>
                                                     <li><a class="btn btn-warning" href="#">HTML</a></li>
                                                     <li><a class="btn" href="#">HTML</a></li>
                                                 </ul>
                                             </div>
                                         </td>
                                     </tr>
                                 </tbody>
                             </table>

                         </div>

                     </div>
                 </div>
             </div>
         
        </div>
    
    </section>
  

</body>
</html>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="modal-container-TambahKK" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Tambah KK
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>
                                                    Nomor KK
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kepala Keluarga
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Alamat
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    No RW
                                                </label>
                                                <select class="form-control">
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    No RT
                                                </label>
                                                <select class="form-control">
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kelurahan/Desa
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kecamatan
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kabupaten/Kota
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kode Pos
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Provinsi
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!--Ubah-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="modal-container-UbahKK" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Ubah KK
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>
                                                    Nomor KK
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kepala Keluarga
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Alamat
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    No RW
                                                </label>
                                                <select class="form-control">
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    No RT
                                                </label>
                                                <select class="form-control">
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kelurahan/Desa
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kecamatan
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kabupaten/Kota
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Kode Pos
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Provinsi
                                                </label>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!--DetailKK-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="modal-container-DetailKK" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Detail KK
                            </h4>
                        </div>

                        <h2>KARTU KELUARGA</h2>
                        No.
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <th scope="row">Kepala Keluarga</th>
                                    <td>:</td>
                                    <td>Ramdhani</td>
                                </tr>
                                <tr>
                                    <th scope="row">Alamat</th>
                                    <td>:</td>
                                    <td>Kloofkamp</td>
                                </tr>
                                <tr>
                                    <th scope="row">RW/RT</th>
                                    <td>:</td>
                                    <td>004/006</td>
                                </tr>
                                <tr>
                                    <th scope="row">Kelurahan/Desa</th>
                                    <td>:</td>
                                    <td>Gurabesi</td>
                                </tr>
                                <tr>
                                    <th scope="row">Kecamatan</th>
                                    <td>:</td>
                                    <td>Jayapura Utara</td>
                                </tr>
                                <tr>
                                    <th scope="row">Kabupaten/Kota</th>
                                    <td>:</td>
                                    <td>Jayapura</td>
                                </tr>
                                <tr>
                                    <th scope="row">Kode Pos</th>
                                    <td>:</td>
                                    <td>99111</td>
                                </tr>
                                <tr>
                                    <th scope="row">Provinsi</th>
                                    <td>:</td>
                                    <td>Papua</td>
                                </tr>
                            </tbody>
                        </table>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>