<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h2>KARTU KELUARGA</h2>
                No.
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Kepala Keluarga</th>
                            <td>:</td>
                            <td>Jacob</td>
                            <td></td>
                            <th scope="row">Kecamatan</th>
                            <td>:</td>
                            <td>Jayapura Utara</td>
                        </tr>
                        <tr>
                            <th scope="row">Alamat</th>
                            <td>:</td>
                            <td colspan="2">Larry the Bird</td>
                            <th scope="row">Kabupaten/Kota</th>
                            <td>:</td>
                            <td>Jayapura</td>
                        </tr>
                        <tr>
                            <th scope="row">RW/RT</th>
                            <td>:</td>
                            <td colspan="2">Larry the Bird</td>
                            <th scope="row">Kode Pos</th>
                            <td>:</td>
                            <td>99111</td>
                        </tr>
                        <tr>
                            <th scope="row">Kelurahan/Desa</th>
                            <td>:</td>
                            <td colspan="2">Larry the Bird</td>
                            <th scope="row">Provinsi</th>
                            <td>:</td>
                            <td>Papua</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <i class="fa fa-user-plus" aria-hidden="true" data-toggle="tooltip" title="Tambah Anggota" href="#modal-container-TambahAnggota" role="button" data-toggle="modal">Anggota</i>
            </div>
        </div>
    </div>

    <!--Tambah-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-container-TambahAnggota" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Tambah Anggota
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>
                                                        No Induk Kependudukan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama Lengkap
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Jenis Kelamin
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Laki-laki</option>
                                                        <option>Perempuan</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Tempat Lahir
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Tanggal Lahir
                                                    </label>
                                                    <input type="date" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Agama
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Pendidikan
                                                    </label>
                                                    <select class="form-control">
                                                        <option>SD</option>
                                                        <option>SMP</option>
                                                        <option>SMA</option>
                                                        <option>S1</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Pekerjaan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Gol. Darah
                                                    </label>
                                                    <select class="form-control">
                                                        <option>A</option>
                                                        <option>B</option>
                                                        <option>AB</option>
                                                        <option>O</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama Ayah
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama Ibu
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Alamat
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        No RW
                                                    </label>
                                                    <select class="form-control">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        No RT
                                                    </label>
                                                    <select class="form-control">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Desa/Kelurahan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Kecamatan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Kabupaten
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Provinsi
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Status Nikah
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Kawin</option>
                                                        <option>Belum Kawin</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Warga Negara
                                                    </label>
                                                    <select class="form-control">
                                                        <option>WNI</option>
                                                        <option>WNA</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Status Keluarga
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Kepala Keluarga</option>
                                                        <option></option>
                                                        <option>Anak</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Ubah-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-container-UbahAnggota" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Ubah Anggota
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>
                                                        No Induk Kependudukan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama Lengkap
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Jenis Kelamin
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Laki-laki</option>
                                                        <option>Perempuan</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Tempat Lahir
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Tanggal Lahir
                                                    </label>
                                                    <input type="date" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Agama
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Pendidikan
                                                    </label>
                                                    <select class="form-control">
                                                        <option>SD</option>
                                                        <option>SMP</option>
                                                        <option>SMA</option>
                                                        <option>S1</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Pekerjaan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Gol. Darah
                                                    </label>
                                                    <select class="form-control">
                                                        <option>A</option>
                                                        <option>B</option>
                                                        <option>AB</option>
                                                        <option>O</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama Ayah
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama Ibu
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Alamat
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        No RW
                                                    </label>
                                                    <select class="form-control">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        No RT
                                                    </label>
                                                    <select class="form-control">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Desa/Kelurahan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Kecamatan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Kabupaten
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Provinsi
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Status Nikah
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Kawin</option>
                                                        <option>Belum Kawin</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Warga Negara
                                                    </label>
                                                    <select class="form-control">
                                                        <option>WNI</option>
                                                        <option>WNA</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Status Keluarga
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Kepala Keluarga</option>
                                                        <option></option>
                                                        <option>Anak</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Detail-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-container-DetailAnggota" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Ubah Anggota
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>
                                                        No Induk Kependudukan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama Lengkap
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Jenis Kelamin
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Laki-laki</option>
                                                        <option>Perempuan</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Tempat Lahir
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Tanggal Lahir
                                                    </label>
                                                    <input type="date" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Agama
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Pendidikan
                                                    </label>
                                                    <select class="form-control">
                                                        <option>SD</option>
                                                        <option>SMP</option>
                                                        <option>SMA</option>
                                                        <option>S1</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Pekerjaan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Gol. Darah
                                                    </label>
                                                    <select class="form-control">
                                                        <option>A</option>
                                                        <option>B</option>
                                                        <option>AB</option>
                                                        <option>O</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama Ayah
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama Ibu
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Alamat
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        No RW
                                                    </label>
                                                    <select class="form-control">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        No RT
                                                    </label>
                                                    <select class="form-control">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Desa/Kelurahan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Kecamatan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Kabupaten
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Provinsi
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Status Nikah
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Kawin</option>
                                                        <option>Belum Kawin</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Warga Negara
                                                    </label>
                                                    <select class="form-control">
                                                        <option>WNI</option>
                                                        <option>WNA</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Status Keluarga
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Kepala Keluarga</option>
                                                        <option></option>
                                                        <option>Anak</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Table-->
    <div ng-init="Init()">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <table class="table">
                        <thead class="thead-default">
                            <tr>
                                <th>
                                    Nama Lengkap
                                </th>
                                <th>
                                    NIK
                                </th>
                                <th>
                                    Jenis Kelamin
                                </th>
                                <th>
                                    Tempat / Tanggal Lahir
                                </th>
                                <th>
                                    Hubungan
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    TB - Monthly
                                </td>
                                <td>
                                    01/04/2012
                                </td>
                                <td>
                                    Default
                                </td>
                                <td>
                                    Default
                                </td>
                                <td>
                                    <a href="#modal-container-DetailAnggota" role="button" data-toggle="modal" data-toggle="tooltip" title="Detail Anggota"><i class="fa fa-book fa-fw" aria-hidden="true"></i></a>
                                    <a href="#modal-container-UbahAnggota" role="button" data-toggle="modal" data-toggle="tooltip" title="Ubah"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Hapus">
                                        <i class="fa fa-trash-o fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</body>
</html>