<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    
    <section class="forms">
        <div class="container-fluid">
            <header>
                <h1 class="h3 display">DAFTAR PEJABAT</h1>
            </header>
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <a href="#modal-container-TambahPejabat" role="button" data-toggle="modal">
                                <i style="color:black" aria-hidden="true" data-toggle="tooltip" title="Tambah Pejabat" class="fa fa-user-plus">Pejabat</i>
                            </a>
                        </div>
                        <div class="card-block">
                            <!--TabelPejabat-->
                            <table class="table">
                                <thead class="thead-default">
                                    <tr>
                                        <th>
                                            No
                                        </th>
                                        <th>
                                            Nama
                                        </th>
                                        <th>
                                            Alamat
                                        </th>
                                        <th>
                                            Level
                                        </th>
                                        <th>
                                            Instansi
                                        </th>
                                        <th>
                                            Jabatan
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Pejabats">
                                        <td>
                                            {{$index+1}}
                                        </td>
                                        <td>
                                            {{item.Nama}}
                                        </td>
                                        <td>
                                            {{item.Alamat}}
                                        </td>

                                        <td>
                                            {{item.Level}}
                                        </td>
                                        <td>
                                            {{item.Instansi.Nama}}
                                        </td>
                                        <td>
                                            {{item.Jabatan}}
                                        </td>

                                        <td>
                                            <a href="#modal-container-UbahPejabat" role="button" data-toggle="modal">
                                                <i style="color:black" class="fa fa-pencil fa-fw" aria-hidden="true" data-toggle="tooltip" title="Ubah"></i>
                                            </a>
                                            <a href="#">
                                                <i style="color:black" class="fa fa-trash-o fa-lg" data-toggle="tooltip" title="Hapus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Tambah Pejabat-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <div class="modal fade" id="modal-container-TambahPejabat" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Tambah Pejabat
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>
                                                        Nama
                                                    </label>
                                                    <input type="text" class="form-control" ng-model="model.Nama"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Alamat
                                                    </label>
                                                    <input type="text" class="form-control" ng-model="model.Alamat"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Level
                                                    </label>
                                                    <select class="form-control" ng-model="model.Level" ng-options="x for x in Levels"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Instansi
                                                    </label>
                                                    <input type="text" class="form-control"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>Jabatan
                                                    </label>
                                                    <div class="form-control">
                                                        <label class="radio-inline"><input type="radio" ng-model="model.Jabatan" value="Ketua" name="optradio">Ketua</label>
                                                        <label class="radio-inline"><input type="radio" ng-model="model.Jabatan" value="Sekretaris" name="optradio">Sekretaris</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="Tambah(model)">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Tambah Pejabat-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <div class="modal fade" id="modal-container-UbahPejabat" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Ubah Pejabat
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>
                                                        Nama
                                                    </label>
                                                    <input type="text" class="form-control" ng-model="model.Nama" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Alamat
                                                    </label>
                                                    <input type="text" class="form-control" ng-model="model.Alamat" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Level
                                                    </label>
                                                    <select class="form-control" ng-model="model.Level" ng-options="x for x in Levels"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Instansi
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Jabatan
                                                    </label>
                                                    <div class="form-control">
                                                        <label class="radio-inline"><input type="radio" ng-model="model.Jabatan" value="Ketua" name="optradio">Ketua</label>
                                                        <label class="radio-inline"><input type="radio" ng-model="model.Jabatan" value="Sekretaris" name="optradio">Sekretaris</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="Tambah(model)">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</body>
</html>
