
<style>
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('../../img/search.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        input[type=text]:focus {
            width: 100%;
        }
</style>

<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">DAFTAR PENDUDUK</h1>
        </header>
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <form>
                            <input class="form-control fa fa-search" type="text" name="search" ng-model="Search" placeholder="Search.." >
                        </form>
                    </div>
                    <!--<div class="card-header d-flex align-items-center">
                        <a data-target="#modal-container-TambahPen" role="button" data-toggle="modal">
                            <i class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" title="Tambah Penduduk"> Penduduk</i>
                        </a>
                    </div>-->

                    <div class="form-group row card-block">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                   <b>NIK</b> 
                                </div>
                                <div class="col-md-3">
                                    NAMA
                                </div>
                                <div class="col-md-3">
                                    Tempat Tanggal Lahir
                                </div>
                                <div class="col-md-2">
                                    RW / RT
                                </div>
                                <div class="col-md-2">
                                    Action
                                </div>
                            </div>
                        </div>
                     
                        <div class="col-md-12" ng-repeat="kk in KartuKeluarga">
                            <div class="row" ng-repeat="item in kk.DaftarKeluarga|filter:Search">
                                <div class="col-md-2">
                                    {{item.NIK}}
                                </div>
                                <div class="col-md-3">
                                    {{item.Nama}}
                                </div>
                                <div class="col-md-3">
                                   {{item.TTL}}
                                </div>
                                <div class="col-md-2">
                                    {{kk.RW.Nama}}/{{kk.RT.Nama}}
                                </div>
                                <div class="col-md-2">
                                   <button>OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   

                </div>
            </div>

        </div>
    </div>

    <!--Tambah Pen-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-container-TambahPen" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Tambah Penduduk
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="NIK" />
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Nama Lengkap" />
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="text" placeholder="Tempat Lahir" class="form-control" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="date" placeholder="" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control" ng-model="Person.JK" ng-options="x for x in JenisKelamin">
                                                        <option value="" disabled hidden selected>Jenis Kelamin</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Gol. Darah</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Agama</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control" ng-model="model.RW" ng-options=" ('RW '+ x.Nama) for x in Strukturs">
                                                        <option value="" disabled hidden selected>RW</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control" ng-model="model.RT" ng-options=" ('RT '+ x.Nama) for x in model.RW.DaftarRT">
                                                        <option value="" disabled hidden selected>RT</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input placeholder="Pendidikan" type="text" class="form-control" ng-model="Person.Pendidikan" />
                                                </div>
                                                <div class="form-group">
                                                    <input placeholder="Pekerjaan" type="text" ng-model="Person.Pekerjaan" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <input placeholder="Penyandang Cacat" type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Status Perkawinan</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Ubah Pen-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-container-UbahPen" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Ubah Penduduk
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="NIK" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Nama Lengkap" />
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="text" placeholder="Tempat Lahir" class="form-control" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="date" placeholder="" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Jenis Kelamin</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Gol. Darah</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Agama</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>RW</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>RT</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input placeholder="Pendidikan" type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <input placeholder="Pekerjaan" type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <input placeholder="Penyandang Cacat" type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Status Perkawinan</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Detail Pen-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-container-DetailPen" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Ubah Penduduk
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="NIK" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Nama Lengkap" />
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="text" placeholder="Tempat Lahir" class="form-control" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="date" placeholder="" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Jenis Kelamin</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Gol. Darah</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Agama</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>RW</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>RT</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input placeholder="Pendidikan" type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <input placeholder="Pekerjaan" type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <input placeholder="Penyandang Cacat" type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="" disabled hidden selected>Status Perkawinan</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


</section>