<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <button type="button" class="btn btn-primary" href="#modal-container-708778" role="button" data-toggle="modal">
                    Add Penduduk
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="modal fade" id="modal-container-708778" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Modal title
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>
                                                        No Induk Kependudukan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        No Kartu Keluarga
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Nama
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Tempat Lahir
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Tanggal Lahir
                                                    </label>
                                                    <input type="date" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Jenis Kelamin
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Laki-laki</option>
                                                        <option>Perempuan</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Alamat
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        No RW
                                                    </label>
                                                    <select class="form-control">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        No RT
                                                    </label>
                                                    <select class="form-control">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Desa/Kelurahan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Kecamatan
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Kabupaten
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Provinsi
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Agama
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Status Perkawinan
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Kawin</option>
                                                        <option>Belum Kawin</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Status Dalam Keluarga
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Kepala Keluarga</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Pendidikan
                                                    </label>
                                                    <select class="form-control">
                                                        <option>SD</option>
                                                        <option>SMP</option>
                                                        <option>SMA</option>
                                                        <option>S1</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Pekerjaan
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Wiraswasta</option>
                                                        <option>PNS</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Status Penduduk
                                                    </label>
                                                    <select class="form-control">
                                                        <option>Tetap</option>
                                                        <option>Sementara</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


</body>
</html>