<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>
        Daftar Permohonan
    </h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a href="#modal-container-TambahPermohonan" role="button" data-toggle="modal">
                    <i aria-hidden="true" data-toggle="tooltip" title="Tambah Peermohonan" class="fa fa-plus">Permohonan</i>
                </a>
            </div>
        </div>
    </div>

</body>
</html>
