<section class="forms" ng-init="Init()">
    <header>
        <center>
            <img src="../../img/Kop Kantor Sentani.png" style="width:800px" />
            <h2 style="margin-top:20px"><u>SURAT KETERANGAN PINDAH</u></h2>
            <h5>Nomor: {{Data.Surat.NoSurat}}</h5>
        </center>
    </header>
        <div style="margin-left:100px;margin-right:75px">
        Yang bertanda tangan dibawah ini Kepala Kelurahan Sentani Kota menerangkan dengan sesungguhnya bahwa :
        <table>
            <tbody>
                <tr>
                    <th align="left">Nomor KK</th>
                    <td>:</td>
                    <td>{{Data.KartuKeluarga.NoKK}}</td>
                </tr>
                <tr>
                    <th align="left">NIK</th>
                    <td>:</td>
                    <td>{{Data.Penduduk.NIK}}</td>
                </tr>
                <tr>
                    <th align="left">Nama Pemohon</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Alamat Sekarang</th>
                    <td>:</td>
                    <td>{{Data.KartuKeluarga.Alamat}}</td>
                </tr>
                <tr>
                    <th align="left">Alamat Tujuan Pindah</th>
                    <td>:</td>
                    <td>{{Data.Pindah.Alamatbaru}}</td>
                </tr>
                <tr>
                    <th align="left">Nama Anggota Yang Pindah</th>
                    <td>:</td>
                    <td>
                        <table>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        Demikian Surat Keterangan Pindah ini dibuat untuk dipergunakan sebagaimana mestinya.
    </div>
    <div class="form-group row card-block">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    Sentani, <span style="font-size:13px; color:black" ng-bind="Data.Surat.TanggalBuat | date:'dd MMMM yyyy'"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <center>
                        Ketua Kelurahan Sentani Kota
                        <br />
                        <br />
                        <br />
                        <br />
                        <u>{{PejabatLurah.Nama}}</u>
                        <br />
                        NIP. {{}}
                    </center>

                </div>
            </div>
        </div>
    </div>

</section>