<section class="forms" ng-init="Init()">
    <header>
        <center>
            <img src="../../img/Kop Kantor Sentani.png" width="800 px" />
            <h2 style="margin-top:20px"><u>SURAT KETERANGAN</u></h2>
            <h5>Nomor: {{Surat.NoSurat}}</h5>
        </center>
    </header>
    <div style="margin-left:100px;margin-right:75px" >
        Yang bertanda tangan dibawah ini :
        <table>
            <tbody>
                <tr>
                    <th align="left">Nama</th>
                    <td>:</td>
                    <td>{{PejabatLurah.Nama}}</td>
                </tr>
                <tr>
                    <th align="left">NIP</th>
                    <td>:</td>
                    <td>{{PejabatLurah.NIP}}</td>
                </tr>
                <tr>
                    <th align="left">Jabatan</th>
                    <td>:</td>
                    <td>{{PejabatLurah.Jabatan}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        Dengan ini menerangkan bahwa :
        <table class="table">
            <tbody>
                <tr>
                    <th align="left">Nomor KK</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.KartuKeluarga.NoKK}}</td>
                </tr>
                <tr>
                    <th align="left">NIK</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.NIK}}</td>
                </tr>
                <tr>
                    <th align="left">Nama</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.Nama}}</td>
                </tr>
                <tr>
                    <th align="left">Jenis Kelamin</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.JK}}</td>
                </tr>
                <tr>
                    <th align="left">Tempat / Tanggal Lahir</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.TTL}}</td>
                </tr>
                <tr>
                    <th align="left">Alamat</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.KartuKeluarga.Alamat}}</td>
                </tr>
                <tr>
                    <th align="left">Agama</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.Agama}}</td>
                </tr>
                <tr>
                    <th align="left">Kewarganegaraan</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.Detail.Kewarganegaraan}}</td>
                </tr>
                <tr>
                    <th align="left">Pekerjaan</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.Pekerjaan}}</td>
                </tr>
                <tr>
                    <th align="left">Pendidikan terakhir</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.Pendidikan}}</td>
                </tr>
                <tr>
                    <th align="left">Status Perkawinan</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.Penduduk.Detail.StatusPerkawinan}}</td>
                </tr>
                <tr>
                    <th align="left">Keperluan</th>
                    <td>:</td>
                    <td>{{Surat.DataSurat.keterangan}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <table>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Bahwa nama tersebut diatas adalah benar Penduduk Kelurahan Sentani Kota.</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Sepanjang yang dapat kami ketahui sampai dengan surat ini diperbuat bahwa nama tersebut diatas benar berkelakuan baik.</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Surat Keterangan ini berlaku selama hingga <span style="font-size:13px; color:black" ng-bind="Data.Surat.BerlakuHingga | date:'dd-MM-yyyy'"></span>.</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Berhubungan dengan maksud yang bersangkutan diminta agar wewenang dapat memberikan fasilitas seperlunya.</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Demikian surat keterangan ini diperbuat untuk dapat diperlukan seperlunya.</td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <div class="form-group row card-block">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-5">
                        <center>
                           <h5> Sentani, {{Surat.TanggalBuat|date}}</h5>
                            <h5> Ketua Kelurahan Sentani Kota</h5>
                           
                            <h4 style="margin-top:50px">{{PejabatLurah.Nama}}</h4>
                            <h5 style="text-decoration:overline">NIP {{PejabatLurah.NIP}}</h5>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>