<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <center>
        <img src="../../img/Kop Kantor Sentani.png" width="800px" />
        <h2><u>SURAT KETERANGAN</u></h2>
    </center>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Yang bertanda tangan dibawah ini :
    <table>
        <tbody>
            <tr>
                <th align="left">Nama</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">NIP</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Jabatan</th>
                <td>:</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    Dengan ini menerangkan bahwa :
    <table>
        <tbody>
            <tr>
                <th align="left">Nomor KK</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">NIK</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Nama</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Jenis Kelamin</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Tempat / Tanggal Lahir</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Alamat</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Agama</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Kewarganegaraan</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Pekerjaan</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Pendidikan terakhir</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Status Perkawinan</th>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <th align="left">Keperluan</th>
                <td>:</td>
                <td></td>
            </tr>
        </tbody>
    </table> 
    <br />
    <br />
    <table>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Bahwa nama tersebut diatas adalah benar Penduduk Kelurahan </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Sepanjang yang dapat kami ketahui sampai dengan surat ini diperbuat bahwa nama tersebut diatas benar berkelakuan baik.</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Surat Keterangan ini berlaku selama 3 bulan</td>
            </tr>
        </tbody>
    </table>
</body>
</html>