<section class="forms" ng-init="Init()">
    <header>
        <center>
            <img src="../../img/Kop Kantor Sentani.png" width="800 px" />
            <h2 style="margin-top:20px"><u>SURAT KETERANGAN KEMATIAN</u></h2>
            <h5>Nomor: {{Data.Surat.NoSurat}}</h5>
        </center>
    </header>
    <div style="margin-left:100px;margin-right:75px">
        Yang bertanda tangan dibawah ini Kepala Kelurahan Sentani Kota menerangkan dengan sesungguhnya bahwa :
        <table>
            <tbody>
                <tr>
                    <th align="left">Nama</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Tempat / Tanggal Lahir</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Jenis Kelamin</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Kewarganegaraan</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Agama</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Status Perkawinan</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Pekerjaan</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Alamat</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">RT / RW</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        Telah meninggal pada :
        <table>
            <tbody>
                <tr>
                    <th align="left">Hari / Tanggal</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Tempat Kematian</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th align="left">Sebab Kematian</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        Demikian Surat Keterangan Kematian ini kami buat untuk dipergunakan seperlunya.
    <div>
    <br />
    <br />
    <div class="form-group row card-block">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    Sentani, Tanggal/Bulan/Tahun
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <center>
                        Ketua Kelurahan Sentani Kota
                        <br />
                        <br />
                        <br />
                        <br />
                        <u>Nama</u>
                        <br />
                        NIP
                    </center>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</section>