<section class="forms" ng-init="Init()">
    <header>
        <center>
            <img src="../../img/Kop Kantor Sentani.png" style="width:800px" />
            <h2 style="margin-top:20px"><u>SURAT KETERANGAN KEMATIAN</u></h2>
            <h5>Nomor: {{Data.Surat.NoSurat}}</h5>
        </center>
    </header>
    <div style="margin-left:100px;margin-right:75px">
        Yang bertanda tangan dibawah ini Kepala Kelurahan Sentani Kota menerangkan dengan sesungguhnya bahwa :
        <table>
            <tbody>
                <tr>
                    <th align="left">Nama</th>
                    <td>:</td>
                    <td>{{Data.Penduduk.Nama}}</td>
                </tr>
                <tr>
                    <th align="left">Tempat / Tanggal Lahir</th>
                    <td>:</td>
                    <td>{{Data.Penduduk.TTL}}</td>
                </tr>
                <tr>
                    <th align="left">Jenis Kelamin</th>
                    <td>:</td>
                    <td>{{Data.Penduduk.JK}}</td>
                </tr>
                <tr>
                    <th align="left">Kewarganegaraan</th>
                    <td>:</td>
                    <td>{{DataPenduduk.Detail.Kewarganegaraan}}</td>
                </tr>
                <tr>
                    <th align="left">Agama</th>
                    <td>:</td>
                    <td>{{Data.Penduduk.Agama}}</td>
                </tr>
                <tr>
                    <th align="left">Status Perkawinan</th>
                    <td>:</td>
                    <td>{{DataPenduduk.Detail.StatusPerkawinan}}</td>
                </tr>
                <tr>
                    <th align="left">Pekerjaan</th>
                    <td>:</td>
                    <td>{{DataPenduduk.Pekerjaan}}</td>
                </tr>
                <tr>
                    <th align="left">Alamat</th>
                    <td>:</td>
                    <td>{{DataPenduduk.KartuKeluarga.Alamat}}</td>
                </tr>
                <tr>
                    <th align="left">RT / RW</th>
                    <td>:</td>
                    <td>{{}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        Telah meninggal pada :
        <table>
            <tbody>
                <tr>
                    <th align="left">Hari / Tanggal</th>
                    <td>:</td>
                    <td><span style="font-size:13px; color:black" ng-bind="Data.tglkematian | date:'EEEE, dd-MM-yyyy'"></span></td>
                </tr>
                <tr>
                    <th align="left">Tempat Kematian</th>
                    <td>:</td>
                    <td>{{Data.tmptkematian}}</td>
                </tr>
                <tr>
                    <th align="left">Sebab Kematian</th>
                    <td>:</td>
                    <td>{{Data.sebabkematian}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        Demikian Surat Keterangan Kematian ini kami buat untuk dipergunakan seperlunya.
    </div>
    <br />
    <br />
    <div class="form-group row card-block">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    Sentani, <span style="font-size:13px; color:black" ng-bind="Data.Surat.TanggalBuat | date:'dd MMMM yyyy'"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <center>
                        Ketua Kelurahan Sentani Kota
                        <br />
                        <br />
                        <br />
                        <br />
                        <u>{{PejabatLurah.Nama}}</u>
                        <br />
                        NIP. {{}}
                    </center>

                </div>
            </div>
        </div>
    </div>
</section>