<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body >
        <section class="forms" ng-init="Init()">
            <div class="container-fluid">
                <header>
                    <h1 class="h3 display">STRUKTUR KELURAHAN</h1>
                </header>
                <div class="row">

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <a data-target="#modal-container-TambahRW" role="button" data-toggle="modal">
                                    <i class="fa fa-user-plus" aria-hidden="true" data-toggle="tooltip" title="Tambah RW"> RW</i>
                                </a>
                            </div>
                            <div class="card-block">
                                <div ng-click="SetNoActive(item)"  class="list-group-item"  ng-repeat="item in Strukturs">
                                   <a class="btn btn-primary" data-target="#panel-{{item.Id}}" data-toggle="tab">RW {{item.Nama}}</a><span>{{item.Pejabat.Nama}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="tab-content">
                                <div class="tab-pane" ng-repeat="item in Strukturs" id="panel-{{item.Id}}">
                                    <div class="card-header d-flex align-items-center">
                                        <a data-target="#modal-container-TambahRT" role="button" data-toggle="modal" ng-click="SelectRW(item)">
                                            <i class="fa fa-user-plus" aria-hidden="true" data-toggle="tooltip" title="Tambah RT">RT</i>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <table class="table">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th>
                                                        No RT
                                                    </th>
                                                    <th>
                                                        Pejabat
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="rt in item.DaftarRT">
                                                    <td>
                                                        {{rt.Nama}}
                                                    </td>
                                                    <td style="align-content:flex-start">
                                                        {{rt.Pejabat.Nama}}
                                                    </td>
                                                    <td>
                                                        <a data-target="#modal-container-DetailRT" role="button" data-toggle="modal"ng-click="SelectRT(rt)">
                                                            <i style="color:rgba(14, 88, 27, 0.40)" class="fa fa-book fa-fw" aria-hidden="true" data-toggle="tooltip" title="Detail Anggota"></i>
                                                        </a>
                                                        <a data-target="#modal-container-UbahRT" role="button" data-toggle="modal" ng-click="SelectRT(rt)">
                                                            <i class="fa fa-pencil fa-fw" aria-hidden="true" data-toggle="tooltip" title="Ubah"></i>
                                                        </a>
                                                        <a  data-toggle="tooltip" title="Hapus" ng-click="DeleteRT(rt,SelectedRW.DaftarRT)">
                                                            <i class="fa fa-trash-o fa-lg"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
      

</body>
</html>


<!--Tambah RW-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- navbar-->
            <center>
                <div ng-show="IsBusy">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </center>
            <div class="modal fade" id="modal-container-TambahRW" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Tambah RW
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>
                                                    No RW
                                                </label>
                                                <input type="text" class="form-control" ng-model="model.Nama" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Nama
                                                </label>
                                                <select class="form-control" ng-model="SelectedJabatan" ng-options="x.Nama for x in PejabatRW"></select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="Save(model,SelectedJabatan)">
                                Save changes
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!--Tambah RT-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="modal fade" id="modal-container-TambahRT" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Tambah RT
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>
                                                    No RW {{SelectedRW.Nama}}
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    No RT
                                                </label>
                                                <input type="text" class="form-control" ng-model="model.Nama"/>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Nama
                                                </label>
                                                <select class="form-control" ng-model="model.Pejabat" ng-options="x.Nama for x in PejabatRT"></select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="AddRT(SelectedRW,model)">
                                Save changes
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!--Detail RT-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="modal-container-DetailRT" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Detail RT
                            </h4>
                        </div>

                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <th scope="row">Nomor RT</th>
                                    <td>:</td>
                                    <td>{{SelectedRT.Nama}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ketua</th>
                                    <td>:</td>
                                    <td>{{SelectedRT.Pejabat.Nama}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Level</th>
                                    <td>:</td>
                                    <td>RT</td>
                                </tr>
                                <tr>
                                    <th scope="row">Instansi</th>
                                    <td>:</td>
                                    <td>~</td>
                                </tr>
                               
                            </tbody>
                        </table>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!--Ubah RT-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="modal fade" id="modal-container-UbahRT" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Ubah RT
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>
                                                    RW {{SelectedRW.Nama}}
                                                </label>
                                               
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    RT
                                                </label>
                                                <input type="text" class="form-control" ng-model="model.Nama" />
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Nama
                                                </label>
                                                <select class="form-control" ng-model="model.Pejabat" ng-options="x.Nama for x in Pejabats"></select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveEditRT(model)">
                                Save changes
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
