<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <button type="button" class="btn btn-primary" href="#modal-container-708778" role="button" data-toggle="modal">
                    Add RW
                </button>
            </div>
        </div>
    </div>

    <div ng-init="Init()">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-group" id="panel-712071">
                                    <div class="panel panel-default" ng-repeat="item in Strukturs">
                                        <div class="panel-heading" >
                                            <div class="col-md-12">
                                                <div class="col-md-4">RW {{item.Nama}}</div>
                                                <div class="col-md-4">Pejabat:{{item.Pejabat.Nama}}</div>
                                                <div class="col-md-4"></div>
                                                <div class="col-md-4"><button class="btn btn-default glyphicon glyphicon-list" role="button" data-toggle="collapse" data-parent="#panel-712071" href="#panel-element-{{item.Id}}"></button></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="panel-element-{{item.Id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <button class="btn btn-default" type="button">
                                                    <em class="glyphicon glyphicon-align-left"></em>Tambah RT
                                                </button>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                #
                                                            </th>
                                                            <th>
                                                                No RT
                                                            </th>
                                                            <th>
                                                               Pejabat
                                                            </th>
                                                            <th>
                                                               
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="rt in item.DaftarRT">
                                                            <td>
                                                                {{$index+1}}
                                                            </td>
                                                            <td>
                                                                {{rt.Nama}}
                                                            </td>
                                                            <td>
                                                                {{rt.Pejabat.Nama}}
                                                            </td>
                                                            <td>
                                                                <div class="btn-group">

                                                                    <button class="btn btn-default" type="button">
                                                                        <em class="glyphicon glyphicon-align-left"></em> Left
                                                                    </button>
                                                                    <button class="btn btn-default" type="button">
                                                                        <em class="glyphicon glyphicon-align-right"></em> Right
                                                                    </button>
                                                                    <button class="btn btn-default" type="button">
                                                                        <em class="glyphicon glyphicon-align-justify"></em> Justify
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>

    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <div class="modal fade" id="modal-container-708778" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Modal title
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label>
                                                        No RW
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Ketua RW
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Sekretaris RW
                                                    </label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


</body>
</html>
