@{
    ViewBag.Title = "Home Page";
}
<ng-view></ng-view>


<script type="text/ng-template" id="main.htm">
    <div style="margin:10px">
      mana bingung
    </div>
</script>

<script type="text/ng-template" id="pejabat.htm">
    <div ng-init="Init()">

    </div>
</script>

<script type="text/ng-template" id="staff.htm">
    <div ng-init="Init()">

    </div>
</script>

<script type="text/ng-template" id="rt.htm">

    <div ng-init="Init()">

    </div>
</script>

<script type="text/ng-template" id="rw.htm">

    <div ng-init="Init()">

    </div>
</script>




<script type="text/ng-template" id="blue.htm">
    blue
</script>


