@{
    ViewBag.Title = "Home Page";
}
<ng-view></ng-view>


<script type="text/ng-template" id="main.htm">
    <div style="margin:10px">
        main
    </div>
</script>


<script type="text/ng-template" id="view.htm">

    <div ng-init="Init()">

    </div>
</script>

<script type="text/ng-template" id="green.htm">

</script>



<script type="text/ng-template" id="blue.htm">
    blue
</script>


<script type="text/ng-template" id="blue.htm">
    blue
</script>


