
@{
    ViewBag.Title = "Lurah";
    Layout = "~/Views/Shared/_LayoutLurah.cshtml";
}

<h2>Lurah</h2>
<section class="forms">
    <div class="container-fluid">
        <ng-view></ng-view>
    </div>
</section>
      
